@import './_variables.scss';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.menu-icon {
    font-size: 1.5rem;
}

.menu-text {
    font-size: 0.80rem;
}

.chart-icon {
    font-size: 2.5rem;
}

.backdrop-blur {
    backdrop-filter: blur(10px);
}

.table-column {
    background: $white;
}

.table-column:hover {
    background: $gray-200;
}

.table-nowrap {
    white-space: nowrap;
}

.select-list {
    z-index: $zindex-dropdown;
}

.shimmer {
    height: $font-size-base;
    background: $gray-400;
    animation: shimmer-animation 1s infinite alternate;
}

@keyframes shimmer-animation {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
}
